.product-editor {
  &__title > h2 {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__content {
    box-sizing: border-box;
    min-width: 450px;
    padding-bottom: 32px !important;
  }

  &__title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 16px;
  }

  &__label {
    display: grid;
    flex-direction: column;
    font-weight: bold;
    font-size: 1.2rem;
    grid-gap: 16px;
    margin-bottom: 16px;

    &--inline {
      align-items: center;
      grid-template-columns: auto min-content;
    }

    textarea {
      width: calc(100% - 8px) !important;
    }
  }

  &__submit-button-tooltip,
  &__submit-button {
    width: 100%;
  }
}
